<%- include("partials/header.ejs") %>

<section id="main-content">
    <div class="container">
        <h1 class="mb-3 px-1">Featured Content</h1>
        <div class="row gy-4 pb-4">
            <div class="col-md-8">
                <div class="post-content">
                    <img src="images/image_1.jpg" alt="">
                    <div class="inner-card-content">
                        <h2 class="mb-0">Title</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aut blanditiis distinctio, earum eveniet facilis hic incidunt laborum libero, minima molestiae necessitatibus odit quae quas, quisquam sequi tempore veniam!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="post-content">
                    <img src="images/image_2.jpg" alt="">
                    <div class="inner-card-content">
                        <h2 class="mb-0">Title</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aut blanditiis distinctio, earum eveniet facilis hic incidunt laborum libero, minima molestiae necessitatibus odit quae quas, quisquam sequi tempore veniam!
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row gy-4 pb-4">
            <div class="col-md-8">
                <div class="post-content">
                    <img src="images/image_3.jpg" alt="">
                    <div class="inner-card-content">
                        <h2 class="mb-0">Title</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aut blanditiis distinctio, earum eveniet facilis hic incidunt laborum libero, minima molestiae necessitatibus odit quae quas, quisquam sequi tempore veniam!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="post-content">
                    <img src="images/image_4.jpg" alt="">
                    <div class="inner-card-content">
                        <h2 class="mb-0">Title</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aut blanditiis distinctio, earum eveniet facilis hic incidunt laborum libero, minima molestiae necessitatibus odit quae quas, quisquam sequi tempore veniam!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer.ejs") %>