<%- include("partials/header.ejs") %>

<section id="all-posts">
    <div class="container">
        <div class="row gx-0 mb-3">
            <div class="col-md-2">
                <img src="images/image_1.jpg" class="left" alt="">
            </div>
            <div class="col-md-10 content-row right">
                <h2 class="mt-3">Title</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam aut consequatur distinctio hic ipsa maiores mollitia non optio pariatur, quae quidem quo ratione recusandae sapiente sint temporibus totam veniam.
                </p>
            </div>
        </div>

        <div class="row gx-0">
            <div class="col-md-10 content-row left">
                <h2 class="mt-3">Title</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam aut consequatur distinctio hic ipsa maiores mollitia non optio pariatur, quae quidem quo ratione recusandae sapiente sint temporibus totam veniam.
                </p>
            </div>
            <div class="col-md-2">
                <img src="images/image_2.jpg" class="right" alt="">
            </div>
        </div>

    </div>
</section>


<%- include("partials/footer.ejs") %>